#subscribe{
    background-color: rgb(253, 0, 0);
    border: none;
    border-radius: 15px;
    padding-top:8px ;
    padding-bottom:8px ;
    padding-right:9px ;
    padding-left: 9px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    transition: 1s;
    box-shadow: 0.5px 0.5px 5px 0.5px;
    font-size: 9px;


}

#like{
    background-color: rgb(72, 72, 223);
    border: none;
    border-radius: 15px;
    padding-top:8px ;
    padding-bottom:8px ;
    padding-right: 9px;
    padding-left: 9px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    font: size 9px;
    transition: 1s;
    box-shadow: 0.5px 0.5px 5px 0.5px;
}
#tweet{
    background-color: rgb(72, 72, 223);
    border: none;
    border-radius: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 9px;
    padding-left: 9px;
    text-transform: lowercase;
    color: white;
    cursor: pointer;
    font: size 9px;
    transition: 1s;
    box-shadow: 0.5px 0.5px 5px 0.5px;
}
#Join{
    background-color: white;
    border-color:  rgb(66, 136, 228);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color:  rgb(66, 136, 228);
    cursor: pointer;
    transition: 1s;
    box-shadow: -2px 0.5px 5px 0.5px;



}
#images{
    width: 200px;
    box-shadow: 0.5px 0.5px 5px 0.5px;
}
#search-bar{
    border-color: white;
    border-radius: 25px;
    border: none;
    padding-left: 10px;
    border-width: 0px;
    font-size: 15px;
    box-shadow:  0.5px 0.5px 5px 0.5px ;              
}
#bar-search{
    background-color: white;
    border-color: white;
    border: none;
    border-radius: 15px;
    padding-left: 10px;


}
#subscribe:hover{
    color: black;
    background-color: green
}
#like:hover{
    color: black;
    background-color: peachpuff
}
#tweet:hover{
    background-color: peachpuff;
    color: black;
}
#Join:hover{
    background-color:  rgb(66, 136, 228);
    color: white;
}